@inherits LayoutComponentBase

<div class="page">
    <header>
       <BlazorShop.Web.Components.NavMenu></BlazorShop.Web.Components.NavMenu>
    </header>

    <main>
        @Body
    </main>
</div>